:root {
    --background-color: #fffff9;
    --background-color-g1: #fdcf8e;
    --background-color-g2: #fffed5;
    --text-color: #333;
    --text-feature-color: #7a7a7a;
    --panel-color: #fff6b7;
    --panel-color-alternate: #79b079;
    --panel-highlight-color: #fff7e1;
    --panel-color-dark: #0a090c;
    --panel-color-dark-contrast: #595a4a;
    --panel-dark-text-color: #fcfdee;
    --panel-dark-link-color: #53BBf5;
    --mid-gray-color: #363635;
    --link-normal-color: #03451D;
    --link-hover-color: #329759;
    --link-active-color: #86877b;
    --link-highlighted-color-alternate: #ddeedd;
    --link-visited-color: #045e27;
    --link-visited-color-alternative: #948e41;
    --brighter: rgba(0,0,0,0.3);
    --sun-bright-color: #ffd96b;
    --sun-dark-color: #ffcb8e;
    --font-h1: 1.6em;
    --line-height-default: 1.2;
    --font-size-default: 1.05em;
    --font-weight-default: 400;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Spinnaker", sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    color: var(--text-color);
    background: -webkit-gradient(linear, right top, left top, from(var(--background-color)), color-stop(var(--background-color-g1)), to(var(--background-color-g2)));
    background: -webkit-linear-gradient(right, var(--background-color), var(--background-color-g1), var(--background-color-g2));
    background: -o-linear-gradient(right, var(--background-color), var(--background-color-g1), var(--background-color-g2));
    background: linear-gradient(270deg, var(--background-color), var(--background-color-g1), var(--background-color-g2));
    background-size: 400% 400%;
    -webkit-animation: background-fades 30s ease infinite;
    animation: background-fades 30s ease infinite;
}

a {
    text-decoration: none;
    color: var(--link-normal-color);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: text-shadow;
    -o-transition-property: text-shadow;
    transition-property: text-shadow;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

table {
    text-align: center;
    margin: auto;
}

a:visited {
    color: var(--link-visited-color);
}

.grid__item > a:visited {
    color: var(--link-visited-color-alternative);
}

.a__button--center > a:visited {
    color: var(--panel-highlight-color);
}

a:hover, a:focus, .grid__item > a:hover, .grid__item > a:focus {
    color: var(--background-color);
    text-shadow: 5px 5px 5px var(--panel-color-dark), 5px -5px 5px var(--panel-color-dark), -5px 5px 5px var(--panel-color-dark), -5px -5px 5px var(--panel-color-dark);
}

a:active, .grid_item > a:active {
    color: var(--link-highlighted-color-alternate);
}

ul {
    list-style: none;
}

span {
    font-variant: small-caps;
}

input, label {
    margin: 1px;
    vertical-align: top;
}

    input[type=submit], button, .button {
        border: none;
        font-family: inherit;
        background-color: var(--link-normal-color);
        color: var(--background-color);
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid var(--brighter);
        -webkit-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
    }

        input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus, .button:hover, .button:focus {
            cursor: pointer;
            opacity: 0.75;
            text-shadow: none;
        }

.a__button--center {
    text-align: center;
}

/* .grid__item Fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}

.grid {
    margin: 0 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid__item {
    padding: 2px 8px 12px 8px;
    color: var(--panel-dark-text-color);
    background-color: var(--panel-color-dark);
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--panel-color-dark)), to(var(--panel-color-dark-contrast)));
    background-image: -webkit-linear-gradient(bottom, var(--panel-color-dark) 0%, var(--panel-color-dark-contrast) 100%);
    background-image: -o-linear-gradient(bottom, var(--panel-color-dark) 0%, var(--panel-color-dark-contrast) 100%);
    background-image: linear-gradient(to top, var(--panel-color-dark) 0%, var(--panel-color-dark-contrast) 100%);
    border-radius: 5px;
    width: auto;
    border-left: 2px dotted var(--brighter);
    border-right: 2px dotted var(--brighter);
    letter-spacing: -0.025em;
    line-height: 1.6em;
}

.svg__span--hidden {
    display: none;
}

.navigation-list {
    list-style-type: none;
}

    .navigation-list li {
        display: inline-block;
        margin-left: 15px;
        padding-bottom: 6px;
    }

.div__svg--center {
    text-align: center;
    padding: 15px;
}

.svg__border {
    border: 16px var(--text-color) double;
    border-radius: 8px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

    .page-header__item:last-child {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: right;
    }

.page-footer {
    padding-top: 40px;
    padding-bottom: 80px;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.panel__title > a {
    color: var(--panel-dark-link-color);
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profile__portait {
    /*float: left;*/
    margin: 40px;
    width: 250px;
    height: auto;
    border: 4px solid var(--text-color);
    border-radius: 50%;
}

.profile__text {
    padding-right: 40px;
}

.pane {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 3px 60px;
}

th {
    background-color: var(--panel-color-dark);
    color: var(--panel-color);
    padding: 7px 20px;
}

td {
    background-color: var(--panel-color-dark-contrast);
    color: var(--panel-color);
    padding: 4px 20px;
}

#mainLogo {
    border: 6px solid white;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 20px var(--background-color), 0 0 10px var(--background-color), 0 0 5px var(--background-color);
    box-shadow: 0 0 20px var(--background-color), 0 0 10px var(--background-color), 0 0 5px var(--background-color);
}

@-webkit-keyframes background-fades {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes background-fades {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: #ffd96b;
    }

    100% {
        fill: #ffcb8e;
    }
}

@keyframes color-change {
    0% {
        fill: #ffd96b;
    }

    100% {
        fill: #ffcb8e;
    }
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform: translate(-220px, 30px);
        transform: translate(-220px, 30px);
    }

    25% {
        -webkit-transform: translate(-65px, 2px);
        transform: translate(-65px, 2px);
    }

    50% {
        -webkit-transform: translate(90px, -6px);
        transform: translate(90px, -6px);
    }

    75% {
        -webkit-transform: translate(245px, 2px);
        transform: translate(245px, 2px);
    }

    100% {
        -webkit-transform: translate(400px, 30px);
        transform: translate(400px, 30px);
    }
}

@keyframes fly {
    0% {
        -webkit-transform: translate(-220px, 30px);
        transform: translate(-220px, 30px);
    }

    25% {
        -webkit-transform: translate(-65px, 2px);
        transform: translate(-65px, 2px);
    }

    50% {
        -webkit-transform: translate(90px, -6px);
        transform: translate(90px, -6px);
    }

    75% {
        -webkit-transform: translate(245px, 2px);
        transform: translate(245px, 2px);
    }

    100% {
        -webkit-transform: translate(400px, 30px);
        transform: translate(400px, 30px);
    }
}

.sun {
    -webkit-animation: 0.7s color-change infinite alternate linear, 60s fly infinite normal linear;
    animation: 0.7s color-change infinite alternate linear, 60s fly infinite normal linear;
}

@media all and (max-width: 600px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 600px) and (max-width: 900px) {
    .grid {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 900px) {
    .grid {
        grid-gap: 15px;
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 1.6em;
    }
}
